body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 50px;
    background-image: url(images/head1.jpg);
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.ttext {
    padding: 60px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}