body {
    font-family: Arial;
    margin: 0;
}

.header {
    background-image: url(images/head1.jpg);
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: absolute;
    color: white;
}